/*----------------------------------------*/
/*Basic Setup*/
/*----------------------------------------*/
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html{
    background-color: #fff;
    columns:rgb(223, 153, 24);
    font-family:'Lato','Arial','sans-serif';
    font-weight: 300;
    font-size:20px;
    text-rendering:optimizeLegibility;
}
.clearfix { zoom: 1}
.clearfix{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*----------------------------------------*/
/*Reusable Components*/
/*----------------------------------------*/
.row{
max-width: 1140px;
margin:0 auto;

}

section{
    padding: 80px 0;

}
.box{
    padding: 1%;

}
/*----------------------------------------*/
/*-------------Headings*-------------------/
/*----------------------------------------*/
h1,
h2,
h3{
    
    font-weight: 300;
    
    font-weight: bold;
    
}
h1{
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
font-size: 180%;
word-spacing: 2px;
text-align: center;
margin-bottom: 30px;
letter-spacing: 1px;
}


h2:after {
display: block;
height: 2px;
background-color: #b05d14;
content: " ";
width: 100px;
margin: 0 auto;
margin-top: 30px;
}


h3{
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: bold;
    text-align:center;

}
/*---------------Paragraphs--------------*/
.long-copy{
    line-height: 145%;
    width:70%;
    margin-left:15%;
    text-align: center;

}

.box p{
    font: size 90%;
    line-height:145%;
    text-align: center; 
}
/*---------------Icons--------------*/
.icon-big{
    font-size:350%;
    display: block;
    color:#b05d14;
    margin-bottom: 10px;
    text-align: center;
}
.icon-big1, 
.icon-img{
    font-size:350%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.icon-img{
    height:70px;
    width:auto;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
.icon-small{
    font-size:100%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}

/*----------------------------------------*/
/*---------------------Buttons*/
/*----------------------------------------*/
.btn:link,
btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    transition: background-color 0.4s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color:#e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #b05d14;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color:#fff;
}
/*----------------------------------------*/
/*HEADER*/
/*----------------------------------------*/
header{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    }
    .hero-text-box{
        position: absolute;
        width: 1140px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .logo{
        height:50px;
        width:auto;
        float:left;
        margin-top:20px; 
    }
    .main-nav{
        float:right;
        list-style: none;
        
    }
    .main-nav li{
        display: inline-block;
        margin-left: 40px;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        padding:8px 0;
        color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-top 0.2s;
    }
    .main-nav li a:hover,
    .main-nav li a:active{
        border-top: 2px solid #e67e22
        
    }

    /*-----------How it works------------*/

    .section-steps{
        background-color: #f4f4f4ee;
    }
    .steps-box{
        margin-top:40px;

    }
    .steps-box:first-child{
        text-align: left;
        padding-right: 10%;


    }
    .steps-box:last-child{
        padding-left: 10%;
        

    }
    .works-step{
        margin-bottom: 50px;
    }
    .works-step div{
        color: #b05d14;
        border:2px solid #b05d14;
        border-radius: 50%;
        height:50px;
        width:54px;
        text-align: center;
        padding: 5px;
        float: left;
        font-size: 150%;
        margin-right: 45px;
    }
    .works-step p{
    font: size 90%;
    line-height:145%;
    text-align: left;
    margin-left: 2px; 
    }
/*-----------Carousel-------------*/

    /*-----------Maps-----------*/
    .city-feature div{
    font: size 90%;
    line-height:145%;
    text-align: left;
    margin-left: 13px;  
    }
    .details{
    font-size:90%;
    display: inline-block;
   font-style: italic;
    text-align: center;
    margin-left: 17px;
    }
/*-----------Contact Form-------------*/
.section-form{
    width: 60%;
    margin: 0 auto;
    
  
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}