*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    font-size:18 px;

}
.other{
    margin-bottom: 40 px;
}
.clearfix:after{
    content:"";
    display:table;
    clear: both;
}
.other-posts{
    background-color: bisque;
    float: left;
    width: 25%;
}
.author{
    position: absolute;

    width: 75%;
    border-top: 20px;
    border-top:1px solid grey;/*linie gri*/
}
h1{
    color:rgba(45, 121, 45, 0.7);
    font-size: 30px;
    margin-bottom: 20px;

    
}
h2{
    color:goldenrod;
    font-size: 20px;
    margin-bottom: 10px;
      
}
.container{
    width: 1140px;
    margin: 20px auto 0 auto


}
.blog-post{    
    width: 75%;
    float: left;
    padding-right: 30px;

/*am pus cele 2 una langa alta cu float si width*/
}
p {
    text-align: center;
    font-size: 12px;
    font-family: cursive;
}
.main-text{
    text-align: justify;
}
#author-text{
    font-size:12px;

    text-align: center;
}
.author img{
    height:20;
    width:15;
    border-radius:100%;
}
.blog-post img{
    height: 150px;
    width: auto;
    border-radius: 20%;

}